---
const { exerciseNumber } = Astro.props;
---

<div  data-aos="fade-up" data-aos-delay="300" class="bg-white w-full p-3 rounded-xl"  id={"exercise-" + exerciseNumber}>
    <h1 class="text-md font-bold bg-gradient-to-r from-blue-400 to-purple-400 bg-clip-text text-transparent">Ejercicio {exerciseNumber}</h1>
    <div class="p-5">
        <slot  />
    </div>
</div>